[Unit]
Description=Bullseyegolf server service.

[Service]
Type=simple
WorkingDirectory=/opt/bullseyegolf
ExecStart=/usr/bin/docker-compose up

[Install]
WantedBy=multi-user.target
